  <!DOCTYPE HTML>
<html lang="en">


<!-- Mirrored from wp.alithemes.com/html/evara/evara-backend/page-products-list.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 01 Aug 2021 15:33:00 GMT -->
<head>
    <meta charset="utf-8">
    <title>Evara Dashboard</title>
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:title" content="">
    <meta property="og:type" content="">
    <meta property="og:url" content="">
    <meta property="og:image" content="">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="assets/imgs/theme/favicon.svg">
    <!-- Template CSS -->
    <link href="assets/css/main.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="http://cdn.datatables.net/1.13.1/css/jquery.dataTables.min.css">

</head>
<body>
    <div class="screen-overlay"></div>
    <aside class="navbar-aside" id="offcanvas_aside">
        <div class="aside-top">
            <a href="/admin" class="brand-wrap">
                <img src="assets/imgs/theme/logo.svg" class="logo" alt="Evara Dashboard">
            </a>
            <div>
                <button class="btn btn-icon btn-aside-minimize"> <i class="text-muted material-icons md-menu_open"></i> </button>
            </div>
        </div>
        <nav>
            <ul class="menu-aside">
                <li class="menu-item">
                    <a class="menu-link" href="/admin"> <i class="icon material-icons md-home"></i>
                        <span class="text">Dashboard</span>
                    </a>
                </li>
                <li class="menu-item">
                    <a class="menu-link" href="/product-list"> <i class="icon material-icons md-shopping_bag"></i>
                        <span class="text">Products</span>
                    </a>
                </li>
                <li class="menu-item">
                    <a class="menu-link" href="/users-list"> <i class="icon material-icons md-shopping_cart"></i>
                        <span class="text">Users</span>
                    </a>
                </li>
                <li class="menu-item">
                    <a class="menu-link" href="/orders-list"> <i class="icon material-icons md-shopping_cart"></i>
                        <span class="text">Orders</span>
                    </a>
                </li>
                <li class="menu-item">
                    <a class="menu-link" href="/category-list"> <i class="icon material-icons md-stars"></i>
                        <span class="text">Brands</span> </a>
                </li>
                <li class="menu-item active">
                    <a class="menu-link" href="/coupon-list"> <i class="icon material-icons md-stars"></i>
                        <span class="text">Coupons</span> </a>
                </li>
            </ul>
            <hr>
            <br>
            <br>
        </nav>
    </aside>
    <main class="main-wrap">
        <header class="main-header navbar">
            <div class="col-search">
                <form class="searchform">
                    <div class="input-group">
                    </div>
                </form>
            </div>
            <div class="col-nav">
                <ul class="nav">
                    <li class="dropdown nav-item">
                        <a href="users/admin-logout" id="dropdownAccount" aria-expanded="false">Logout</a>
                    </li>
                </ul>
            </div>
        </header>
        <section class="content-main">
            <div class="content-header">
                <div>
                    <h2 class="content-title card-title">Coupon List</h2>
                </div>
                <div>
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                    Create new Coupon
                    </button>

                    <!-- Modal -->
                    <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="staticBackdropLabel">Add coupon</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <form action="/add-coupon" method="post">
                                        <label class="form-check mb-4">
                                            <label for="product_name" class="form-label">Coupon Name</label>
                                            <input type="text" name="couponName" placeholder="Type here" class="form-control" id="product_name" autocomplete="off" required>
                                        </label>
                                        <label class="form-check mb-4">
                                            <label for="product_name" class="form-label">Deduction</label>
                                            <input type="number" name="deduction" placeholder="Type Deduction (%)" class="form-control" id="product_name" autocomplete="off" required>
                                        </label>
                                        <label class="form-check mb-4">
                                            <label for="product_name" class="form-label">ExpiryData</label>
                                            <input type="text" class="form-control" name="expiryData" id="datepicker" placeholder="Type here" autocomplete="off" required>
                                        </label>
                                        <label class="form-check mb-4">
                                            <label for="product_name" class="form-label">Limit</label>
                                            <input type="text" class="form-control" name="limit" id="product_limit" placeholder="Type here" autocomplete="off" required>
                                        </label>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                    <button type="submit" class="btn btn-primary">Add Coupon</button>
                                </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card mb-4">
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table" id="myTable">
                            <thead>
                                <tr>
                                    <th scope="col">Coupon ID</th>
                                    <th scope="col">Coupon Name</th>
                                    <th scope="col">Deduction</th>
                                    <th scope="col">Expiry Date</th>
                                    <th scope="col">Limit</th>
                                    {{!-- <th scope="col">Edit Coupon</th> --}}
                                    <th scope="col">Delete Coupon</th>
                                </tr>
                            </thead>
                            <tbody>
                                {{#each product}}
                                <tr id="counter{{this._id}}">
                                    <td><b><span>{{this._id}}</span></b></td>
                                    <td><span>{{this.couponName}}</span></td>
                                    <td><span>{{this.deduction}}%</span></td>
                                    <td> <span>{{this.expiryData}}</span></td>
                                    <td> <span>{{this.limit}}</span></td>
                                    {{!-- <td><a href='/editCoupon/{{this._id}}' class="btn btn-sm font-sm rounded btn-brand"><i class="material-icons md-edit"></i> Edit</a></td> --}}
                                    <td>
                                        <button class="btn btn-sm font-sm btn-light rounded" onclick="return deleteCoupon('{{this._id}}')">Delete</button>
                                    </td>
                                </tr>
                                {{/each}}
                            </tbody>
                        </table>
                    </div> <!-- table-responsive //end -->
                </div> <!-- card-body end// -->
            </div>  <!-- card end// -->
        </section> <!-- content-main end// -->
        <footer class="main-footer font-xs">
            <div class="row pb-30 pt-15">
                <div class="col-sm-6">
                    <script>
                    document.write(new Date().getFullYear())
                    </script> ©, Evara - HTML Ecommerce Template .
                </div>
                <div class="col-sm-6">
                    <div class="text-sm-end">
                        All rights reserved
                    </div>
                </div>
            </div>
        </footer>
    </main>
    <script src="assets/js/vendors/jquery-3.6.0.min.js"></script>
    <script src="assets/js/vendors/bootstrap.bundle.min.js"></script>
    <script src="assets/js/vendors/select2.min.js"></script>
    <script src="assets/js/vendors/perfect-scrollbar.js"></script>
    <script src="assets/js/vendors/jquery.fullscreen.min.js"></script>
    <!-- Main Script -->
    <script src="assets/js/main.js" type="text/javascript"></script>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="/resources/demos/style.css">
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
    <script src="http://cdn.datatables.net/1.13.1/js/jquery.dataTables.min.js"></script>
    <script>
    $( function() {
    $( "#datepicker" ).datepicker();
    });
    </script>
    <script>
        $(document).ready( function () {
        $('#myTable').DataTable();
        });
    </script>
    <script>
      function deleteCoupon(couponId){

        $.ajax({
          type:'delete',
          url: '/delete-coupon',
          dataType: 'json',
          data: {
            couponid:couponId
          },
          success:(responce)=>{
             document.getElementById("counter"+couponId).style.display = "none";
          }
        })
      }
    </script>
</body>


<!-- Mirrored from wp.alithemes.com/html/evara/evara-backend/page-products-list.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 01 Aug 2021 15:33:12 GMT -->
</html>