  {{!-- <link rel="stylesheet" href="stylesheets/adminpage.css">
  <div class="container-admin">
  <div class="row">
    <div class="col-sm-2">
      <div class="adminMenu">
        <a href="/product-list">Product List</a>
        <a href="/users-list">Users List</a>
        <a href="/category-list">Category List</a>
        <a href="/orders-list">Orders List</a>
        <a href="/dashboard">dashboard</a>
      </div>
    </div>
    <div class="col-sm-10">
    <div class="adminNav">
        <div class="row">
          <div class="col">
            <div class="adminleftpart">
              <h3 class="adminMenuHeader">Users List</h3>
            </div>
          </div>
          <div class="col">
            <div class="adminrightpart">
              <form class="navform" action="/search" method="post">
              <input class="inputc" name="value" type="text" placeholder="search">
              <button class="navbutton" type="submit">Search</button>
              </form>
              <a class="navilink" style="float:right" href='/logout'>Logout Button</a>
            </div>
          </div>
        </div>  
    </div>
  <br>

  <table>
  <tr>
    <th>Name</th>
    <th>Address</th>
    <th>Delivery Date</th>
    <th>Delivery Pricing</th>
    <th>Payment method</th>
    <th>product</th>
    <th>Delivery Status</th>
  </tr>
  {{#each data}}
  <tr>
    <td>{{this.address.firstname}}</td>
    <td>{{this.address.address}}</td>
    <td>{{this.deliveryDate}}</td>
    <td>{{this.products.0.sumTotal}}</td>
    <td>{{this.paymentmethod}}</td>
    <td> <button>p</button> {{this.products.0._id}}</td>
    <td><a class="linkbtnblack" href='/block/{{this._id}}'>{{this.deliveryStatus}}</a></td>
  </tr>
  {{/each}}
</table></div>
  </div> --}}

  <!DOCTYPE HTML>
<html lang="en">


<!-- Mirrored from wp.alithemes.com/html/evara/evara-backend/page-orders-1.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 01 Aug 2021 15:33:21 GMT -->
<head>
    <meta charset="utf-8">
    <title>Evara Dashboard</title>
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:title" content="">
    <meta property="og:type" content="">
    <meta property="og:url" content="">
    <meta property="og:image" content="">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="/assets/imgs/theme/favicon.svg">
    <!-- Template CSS -->
    <link href="/assets/css/main.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <div class="screen-overlay"></div>
    <aside class="navbar-aside" id="offcanvas_aside">
        <div class="aside-top">
            <a href="/admin" class="brand-wrap">
                <img src="/assets/imgs/theme/logo.svg" class="logo" alt="Evara Dashboard">
            </a>
            <div>
                <button class="btn btn-icon btn-aside-minimize"> <i class="text-muted material-icons md-menu_open"></i> </button>
            </div>
        </div>
        <nav>
            <ul class="menu-aside">
                <li class="menu-item">
                    <a class="menu-link" href="/admin"> <i class="icon material-icons md-home"></i>
                        <span class="text">Dashboard</span>
                    </a>
                </li>
                <li class="menu-item">
                    <a class="menu-link" href="/product-list"> <i class="icon material-icons md-shopping_bag"></i>
                        <span class="text">Products</span>
                    </a>
                </li>
                <li class="menu-item">
                    <a class="menu-link" href="/users-list"> <i class="icon material-icons md-shopping_cart"></i>
                        <span class="text">Users</span>
                    </a>
                </li>
                <li class="menu-item active">
                    <a class="menu-link" href="/orders-list"> <i class="icon material-icons md-shopping_cart"></i>
                        <span class="text">Orders</span>
                    </a>
                </li>
                <li class="menu-item">
                    <a class="menu-link" href="/category-list"> <i class="icon material-icons md-stars"></i>
                        <span class="text">Brands</span> </a>
                </li>
                <li class="menu-item">
                    <a class="menu-link" href="/coupon-list"> <i class="icon material-icons md-stars"></i>
                        <span class="text">Coupons</span> </a>
                </li>
            </ul>
            <hr>
            <br>
            <br>
        </nav>
    </aside>
    <main class="main-wrap">
        <header class="main-header navbar">
            <div class="col-search">
                <form class="searchform">
                    <div class="input-group">
                        <input list="search_terms" type="text" class="form-control" placeholder="Search term">
                        <button class="btn btn-light bg" type="button"> <i class="material-icons md-search"></i></button>
                    </div>
                    <datalist id="search_terms">
                        <option value="Products">
                        <option value="New orders">
                        <option value="Apple iphone">
                        <option value="Ahmed Hassan">
                    </datalist>
                </form>
            </div>
            <div class="col-nav">
                <button class="btn btn-icon btn-mobile me-auto" data-trigger="#offcanvas_aside"> <i class="material-icons md-apps"></i> </button>
                <ul class="nav">
                    <li class="nav-item">
                        <a class="nav-link btn-icon" href="#">
                            <i class="material-icons md-notifications animation-shake"></i>
                            <span class="badge rounded-pill">3</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link btn-icon darkmode" href="#"> <i class="material-icons md-nights_stay"></i> </a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="requestfullscreen nav-link btn-icon"><i class="material-icons md-cast"></i></a>
                    </li>
                    <li class="dropdown nav-item">
                        <a class="dropdown-toggle" data-bs-toggle="dropdown" href="#" id="dropdownLanguage" aria-expanded="false"><i class="material-icons md-public"></i></a>
                        <div class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownLanguage">
                            <a class="dropdown-item text-brand" href="#"><img src="/assets/imgs/theme/flag-us.png" alt="English">English</a>
                            <a class="dropdown-item" href="#"><img src="/assets/imgs/theme/flag-fr.png" alt="Français">Français</a>
                            <a class="dropdown-item" href="#"><img src="/assets/imgs/theme/flag-jp.png" alt="Français">日本語</a>
                            <a class="dropdown-item" href="#"><img src="/assets/imgs/theme/flag-cn.png" alt="Français">中国人</a>
                        </div>
                    </li>
                    <li class="dropdown nav-item">
                        <a class="dropdown-toggle" data-bs-toggle="dropdown" href="#" id="dropdownAccount" aria-expanded="false"> <img class="img-xs rounded-circle" src="/assets/imgs/people/avatar2.jpg" alt="User"></a>
                        <div class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownAccount">
                            <a class="dropdown-item" href="#"><i class="material-icons md-perm_identity"></i>Edit Profile</a>
                            <a class="dropdown-item" href="#"><i class="material-icons md-settings"></i>Account Settings</a>
                            <a class="dropdown-item" href="#"><i class="material-icons md-account_balance_wallet"></i>Wallet</a>
                            <a class="dropdown-item" href="#"><i class="material-icons md-receipt"></i>Billing</a>
                            <a class="dropdown-item" href="#"><i class="material-icons md-help_outline"></i>Help center</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item text-danger" href="users/admin-logout"><i class="material-icons md-exit_to_app"></i>Logout</a>
                        </div>
                    </li>
                </ul>
            </div>
        </header>
        <section class="content-main">
            <div class="content-header">
                <div>
                    <h2 class="content-title card-title">Order List </h2>
                    <p>Lorem ipsum dolor sit amet.</p>
                </div>
                <div>
                    <input type="text" placeholder="Search order ID" class="form-control bg-white">
                </div>
            </div>
            <div class="card mb-4">
                <header class="card-header">
                    <div class="row gx-3">
                        <div class="col-lg-4 col-md-6 me-auto">
                            <input type="text" placeholder="Search..." class="form-control">
                        </div>
                        <div class="col-lg-2 col-6 col-md-3">
                            <select class="form-select">
                                <option>Status</option>
                                <option>Active</option>
                                <option>Disabled</option>
                                <option>Show all</option>
                            </select>
                        </div>
                        <div class="col-lg-2 col-6 col-md-3">
                            <select class="form-select">
                                <option>Show 20</option>
                                <option>Show 30</option>
                                <option>Show 40</option>
                            </select>
                        </div>
                    </div>
                </header> <!-- card-header end// -->
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th scope="col">Image</th>
                                    <th scope="col">Productname</th>
                                    <th scope="col">Quantity</th>
                                    <th scope="col">sumtotal</th>
                                    <th scope="col">Delivery Date</th>
                                    <th scope="col">method</th>
                                    {{!-- <th scope="col">Status</th> --}}
                                    <th scope="col" class="text-end"> Status </th>
                                </tr>
                            </thead>
                            <tbody>
                                {{#each products}}
                                <tr>
                                    <td class="product-thumbnail"> <img src="/uploads/{{this.products.image.[0]}}"  alt="" style="width: 100%px; height: 50px"class="img-fluid"></td>                                    
                                    <td>{{this.products.productName}}</td>
                                    <td>{{this.products.quantity}}</td>
                                    <td>${{this.products.sumTotal}}</td>
                                    <td><p id="date">{{this.deliveryDate}}</p></td>
                                    <td>{{this.paymentmethod}}</td>
                                    {{!-- <td><span class="badge rounded-pill alert-warning">{{this.products.productStatus}}</span></td> --}}
                                    <td class="text-end">
                                    <div class="dropdown">
                                            <select class="badge rounded-pill alert-warning" id="deliveryStatusChanger" name="deliveryStatus" onchange="return deliveryStatusChange('{{this._id}}','{{this.products.productid}}')">
                                                <option  value="{{this.products.productStatus}}">{{this.products.productStatus}}</option>
                                                <option value="Pending">Pending</option>
                                                <option value="Shipping">Shipping</option>
                                                <option value="Delivered">Delivered</option>
                                                <option value="Cancelled">Cancelled</option>
                                                <option value="Checking">Checking</option>
                                            </select>
                                    </div> 
                                    </td>
                                </tr>
                                {{/each}}
                            </tbody>
                        </table>
                    </div> <!-- table-responsive //end -->
                </div> <!-- card-body end// -->
            </div> <!-- card end// -->
            <div class="pagination-area mt-15 mb-50">
                <nav aria-label="Page navigation example">
                    <ul class="pagination justify-content-start">
                        <li class="page-item active"><a class="page-link" href="#">01</a></li>
                        <li class="page-item"><a class="page-link" href="#">02</a></li>
                        <li class="page-item"><a class="page-link" href="#">03</a></li>
                        <li class="page-item"><a class="page-link dot" href="#">...</a></li>
                        <li class="page-item"><a class="page-link" href="#">16</a></li>
                        <li class="page-item"><a class="page-link" href="#"><i class="material-icons md-chevron_right"></i></a></li>
                    </ul>
                </nav>
            </div>
        </section> <!-- content-main end// -->
        <footer class="main-footer font-xs">
            <div class="row pb-30 pt-15">
                <div class="col-sm-6">
                    <script data-cfasync="false" src="../../../cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script><script>
                    document.write(new Date().getFullYear())
                    </script> ©, Evara - HTML Ecommerce Template .
                </div>
                <div class="col-sm-6">
                    <div class="text-sm-end">
                        All rights reserved
                    </div>
                </div>
            </div>
        </footer>
    </main>
    <script src="/assets/js/vendors/jquery-3.6.0.min.js"></script>
    <script src="/assets/js/vendors/bootstrap.bundle.min.js"></script>
    <script src="/assets/js/vendors/select2.min.js"></script>
    <script src="/assets/js/vendors/perfect-scrollbar.js"></script>
    <script src="/assets/js/vendors/jquery.fullscreen.min.js"></script>
    <!-- Main Script -->
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
    <script src="/assets/js/main.js" type="text/javascript"></script>
    <script>
        function deliveryStatusChange(orderId,proId){
            let status = document.getElementById("deliveryStatusChanger").value;
            console.log(status)       
            $.ajax({
                type: 'POST',
                url: '/change-single-order-status',
                data: {
                    order: orderId,
                    product: proId,
                    status: status
                },
                success:(response)=> {}
            })
        }
    </script>
</body>


<!-- Mirrored from wp.alithemes.com/html/evara/evara-backend/page-orders-1.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 01 Aug 2021 15:33:22 GMT -->
</html>
  